@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.z-999 {
    z-index: 999;
}
.row {
    @apply flex flex-wrap -mx-4;
}
.max-width {
    max-width: 1140px;
}

.primary_color {
    background: #ffc300;
}

.border_color {
    border-color:#dfa300;
}

.nav-bar a::before {
    content: '';
    height: 3px;
    width: 0%;
    background: #ffc301;
    position: absolute;
    left: 0;
    top: 33px;
    bottom: -1;
    transition: 0.4s;
}

.nav-bar a:hover::before {
    width: 100%;
}